* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.foodmenu {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('./images/bg.jpg');
    background-size: cover;
    width: 100%;
    min-height: 80vh;
    margin-top: -2.5px;
}

.cards-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 10px;
    margin-top: 40px;
    margin-bottom: 40px;
}